body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #454444;
}

input {
    padding: 8px;
    margin: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}